.home-wrapper {
  height: auto;
  padding: 0px 20px;

  .content-all {
    width: 100%;
    margin: 0% 2%;

    .head-line {
      border-bottom: 1px solid grey;
      h2 {
        margin: 1% 3%;
      }
    }
    .content-tab {
      padding 2%;

      .btn-search {
        display block;
        float right;
        width: 100px;
        color: white;
      }

      .el-table tr.warning-row{
        background: oldlace;
      }
    }

    .content-detail {
      max-height:470px;
      overflow-y auto;
    }
    .paging {
      margin 10px;
    }
  }
  .date-sel {
    display inline-block
    color white;
  }
}
