.content {
        // width: 100%;
        // height: 100%;
        position: relative;
    }
    // .share-title {
    //     width 100%;
    //     height 100px;
    // }

    .share-content {
        margin 0 5%;
        width 85%;
        height 550px;
    }