.web-home {
  .home-wrapper {
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    .aside-menu {
      position: relative;
      width: 200px;
      max-height: calc(100vh - 55px);
      overflow-y: auto;
      background-color: #0d1021;
      &.aside-menu-leave-active, &.aside-menu-enter-active {
        transition: all 0.25s;
      }
      &.aside-menu-leave, &.aside-menu-enter-to {
        margin-left: 0;
      }
      &.aside-menu-enter, &.aside-menu-leave-to {
        margin-left: -200px;
      }
      .aside-el-menu-vertical {
        margin-bottom: 20px;
      }
      ul {
        width: 100%;
        li {
          width: 100%;
        }
      }
      .menu-operate-collapse {
        box-sizing: border-box;
        width: 100%;
        height: 30px;
        padding-right: 10px;
        text-align: right;
        background: #333;
        .opeerate {
          font-size: 20px;
          font-weight: bold;
          line-height: 30px;
          color: #eee;
          cursor: hover;
          &:hover {
            color: #ffffff;
          }
        }
      }
    }
    .main-wrapper {
      flex: 1;
      box-sizing: border-box;
      //background: #ededed;
      background: #fff;
      height: calc(100vh - 55px);
      overflow-y: auto;
      .home-content {
        position: relative;
        //height: calc(100vh - 55px);
        height: 100%;
        width: 100%;
      }
    }
  }
}

.home-dark.web-home .home-wrapper .main-wrapper {
  background: #12182E;
}

//修改elementui现有样式
.el-menu-item.is-active {
  background-color: #734ffb !important;
}
.con-item, .active {
  padding 3px 10%;
  cursor pointer
  .item-icon {
    margin-left 10px;
  }

  .item-btn {
    margin-left 5%;
    color #666;
  }
}
.active {
  background: linear-gradient(to right, #3762f5, #42a4f5);

  i, .item-btn{
    color white;
  }
}
