.zhgx-light .cata-card .card-buttton {
  margin: 0 5px 10px 0;
  padding: 6px 10px;
  width: 78px;
}

.catalog-banner {
  height: 300px;
  background-image: url(/static/image/banner/catalog-banner.png);
  background-size: 100% 100%;
}

//总数显示
.catalog-type {
  color: #333;
  font-size: 20px;
}

.catalog-type .catalog-total {
  color: #ff9600;
}

//排序选择按钮
.catalog-rank .el-button {
  border-radius: 30px;
  padding: 5px 10px;
  background: transparent;
}

.catalog-rank .rank-active {
  color: #006cff;
  border-color: #006cff;
  padding: 4px 8px;
}

.catalog-rank .icons-paixu-jiangxu, .inter-rank .icons-paixu-shengxu {
  font-size: 14px;
}

.blue-box {
  background-color: #f8f9f9;
  border: 1px solid #eaeaea;
  padding: 15px;
  border-radius: 3px;
  min-height: 320px;
}

//左侧树
.ise-content {
  height: 767px;
}

.ise-content .el-tree {
  background-color: transparent;
  height: 100%;
  overflow: auto;
}

.ise-content .customer-tree-node i {
  color: #d2d2d2;
}

.ise-content .customer-tree-node i.selected {
  color: #fcc632;
}

//中间卡牌
.have-height {
  height: 767px;
  overflow-y: auto;
}

.zhgx-light .cata-card {
  margin: 0 5px 15px 5px;
}

.box-card .catalog-label {
  width 70px;
}

.box-card .catalog-content {
  width 200px;
}

.box-card .catalog-inline {
  display inline-block;
  width 100%;
  min-width: 275px;
}

  
  
