
.regulation-container .r-n-search {

  width: 60%;
  float: right;
}

.regulation-card .el-card__header {
  padding: 10px 20px 5px 20px;
}

.regulation-card .el-card__body {
  padding: 3px;
}

.regulation-card .regulationTitle {
  font-size: 16px;
  font-weight: bold;
  padding: 4px 0 0 5px;
}

//.regulation-card  {
//  background: #f8f9f9;
//}
.bacf8f9f9 {
  background: #f8f9f9;

}

.regulation-list .list-title {
  line-height: 40px;
  border-bottom: 1px solid #cac7c7;
  padding-bottom: 5px;
  margin: 0 10px 0 10px;
}

.el-card.new-data .clearfix {
  margin: -18px -20px;
  display: block;
  padding: 20px 0 20px 15px;
}

.new-data .new-title {
  font-size: 16px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  width: 55%
}

.new-data .el-card__header {
  padding: 15px 20px 12px 20px;
}

.new-data .new-img {
  height: 45px;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
}

.new-data .new-datalog {
  width: 100%;
  line-height: 26px;
  cursor: pointer;
}

.new-data .new-datalog .datalog-name:hover {
  color: darkblue;
  font-weight: bold;
}

.new-data .new-datalog .datalog-name {
  color: #191818;
  width: 63%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

.new-data .new-datalog .datalog-time {
  width: 31%;
  float: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

.color-gray {
  color: gray;
}

.new-data .new-more {
  cursor: pointer;
  padding-right: 32px;
}

.regulation-delete {
  float: right;
  //color: red;
  cursor: pointer;
  margin: 20px 20px 0 0 !important;
}

// 详情页

.regulation-detail .no-preview {
  text-align: center;
  height: 300px;
  line-height: 300px;
  width: 100%;
  color: #999;
}

.regulation-detail .detail-title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 20px 40px 20px 40px;
}

.regulation-detail .lastInfo {
  width: 46%;
}

.regulation-detail .nextInfo {
  width: 46%;
  text-align: right;
}

.regulation-detail .source {
  padding: 8px;
  background-color: #eee;
  font-size: 12px;
  color: #999;
  font-weight: normal;
  height: 13px;
}

.regulation-detail .source > span {
  display: inline-block;
  margin-left: 20px;
}

.regulation-detail .down-tip {
  color: #999;
  padding: 10px;
}
.regulation-detail .down-tip .content-head-left {
  float left;
  width: 50%;
}
.regulation-detail .down-tip .content-head-right {
  float left;
  width: 50%;
}
//搜索框
.reg-search input.el-input__inner {
  height: 35px;
  line-height: 35px;
  border-color: #7fb5ff;
  border-radius: 10px 0 0 10px;
  font-size: 15px;
}

.reg-search .el-input-group__append {
  background-color: #006cff;
  border-color: #006cff;
  padding: 0 15px;
  border-radius: 0 10px 10px 0;
}

.reg-search i.el-icon-search {
  font-size: 30px;
  color: #eee;
}

.is-uploade {
  color: #f56c6c;
  font-size: 12px;
  line-height: 1;
  padding-top: 4px;
  position: absolute;
  top: 100%;
  left: 0;
}

.circleTest {
  height: 100px;
  width: 100px;
  border: 2px solid;
  border-radius: 50%;
  border-color: red red blue blue;
  -webkit-transition: all 0.8s
  -moz-transition: all 0.8s
  -ms-transition: all 0.8s
  -o-transition: all 0.8s
  transition: all 0.8s
}

.circleTese:hover {
  -webkit-transform: rotate(60deg)
  -moz-transform: rotate(60deg)
  -ms-transform: rotate(60deg)
  -o-transform: rotate(60deg)
  transform: rotate(60deg)
}
