.home-wrapper {
  height: 100%;
}
.con-aside {
  width: 250px;
  background-color: #fff;
  height: 96%;
}
.el-card__body {
  padding 0;
}
.con-item, .active {
  padding 3px 10%;
  cursor pointer
  .item-icon {
    margin-left 10px;
  }
  
  .item-btn {
    margin-left 5%;
    color #666;
  }
}
.badge-msg {
  padding: 12px 0px;
  border-radius: 4px;
  font-weight: 50;  
}
.active {
  background: linear-gradient(to right, #3762f5, #42a4f5);
  
  i, .item-btn{
    color white;
  }
}
  
.custom-box-shadow {
  box-shadow: 0 0 0 0 white;
  //border-bottom-width 0px;
}
