.login {
  width: 100%;
  height: 100%;
  text-align: center;
  //background-color: rgb(53, 152, 219);
  background-position: left bottom; /* 规定背景图像的位置 */
  // background-origin: content-box; /* 规定背景图片的定位区域 */
  // background-clip:content-box; /* 规定背景的绘制区域 */
  background-attachment: fixed; /* 设置背景图像是否固定或者随着页面的其余部分滚动 */
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  &.bg0 {
    background-image: url("./img/bg1_0.jpg");
  }
  &.bg1 {
    //background-color: rgb(53, 152, 219);
    background-image: url("./img/bg1_1.jpg");
  }
  &.bg2 {
    //background-color: rgb(53, 152, 219);
    background-image: url("./img/bg1_2.jpg");
  }
  .f-content {
    position: absolute;
    top: 70%;
    left: 45%;
    padding-top: 30px;
    margin-left: -245px;
    margin-top: -200px;
    width: 662px;
    transition: width 0.3s ease-out;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: right bottom;
    //box-shadow: 0px 0px 1px 0px #333;
    @media (max-width: 1024px) and (min-width: 481px) {
      //width: 50%;
      margin-left: -180px;
      margin-top: -150px;
    }

    &.right-bg0 {
      background-image: url("./img/bg1_0.png");
    }
    &.right-bg1 {
      background-image: url("./img/bg1_1.png");
    }
    &.right-bg2 {
      background-image: url("./img/bg1_2.png");
    }
    .detail {
      margin: 0 auto;
      //width: 60%;
      @media (max-width: 1024px) and (min-width: 481px) {
        //width: 70%;
      }
      .r-form {
        // margin-top: 50%;
        text-align: left;
        .f-title {
          position: relative;
          height: 60px;
          margin-bottom: 8px;
          line-height: 60px;
          font-size: 14px;
          color: #fff;
          .user {
            display: inline-block;
            font-weight: bold;
          }
          .lang {
            position: absolute;
            right: 0px;
            display: inline-block;
            &:hover {
              cursor: pointer;
            }
            .down {
              margin-left: 3px;
            }
            .lang-list {
              position: absolute;
              right: 0;
              display: inline-block;
              border: 1px solid #ddd;
              background: #fff;
              z-index: 1;
              line-height: 1.5;
              a {
                display: block;
                margin: -1px 0;
                overflow: hidden;
                word-wrap: normal;
                white-space: nowrap;
                text-overflow: ellipsis;
                color: #333;
                text-decoration: none;
                padding: 12px 30px;
                &:hover {
                  color: #333;
                  background: #f7f7f7;
                  text-decoration: none;
                }
              }
            }
          }
        }
        .content-wrapper {
          position: relative;
          text-align: center;
          .arrow {
            position: absolute;
            left: 21px;
            top: -7px;
            border-right: 7px solid transparent;
            border-left: 7px solid transparent;
            border-bottom: 7px solid #fff;
            display: inline-block;
            transition: left 0.5s ease;
          }
          .f-input {
            width: 100%;
            //background-color: rgba(255, 255, 255, 0.1);
            border-radius: 3px;
            .icon {
              background-color: rgba(0, 0, 0, 0.4);
              float: left;
              color: #ffffff;
              font-size: 18px;
              transition: color ease-in 0.3s;
              width: 60px;
              height: 60px;
              line-height: 60px;
              text-align: center;
              @media (max-width: 1440px) and (min-width: 481px) {
                height: 60px;
                line-height: 60px;
              }
            }
            section {
              //border-left: 1px solid #fff;
              //border-right: 1px solid #fff;
              //border-bottom: 1px solid #e3e4e5;
            }
            .input-content {
              display: inline-block;
              //width: 45%;
              .input-wrapper {
                margin-left: 60px;
              }
              input {
                background: none;
                border: none;
                outline: none;
                //padding: 5px 0;
                width: 220px;
                color: #CED2D5;
                height: 60px;
                line-height: 60px;
                padding-left: 10px;
                background-color: rgba(255, 255, 255, 0.1);
                &:active {
                  color: #CED2D5;
                  //border-color: #5bc0de;
                }
                @media (max-width: 1440px) and (min-width: 481px) {
                  height: 60px;
                  line-height: 60px;
                }
              }
            }
          }
        }
        .reme {
          position: relative;
          line-height: 44px;
          height: 44px;
          color: #fff;
          font-size: 14px;
          input {
            position: absolute !important;
            left: -9999px;
            box-sizing: border-box;
            padding: 0;
          }
          .saveUsername {
            cursor: pointer;
            .checkbox {
              display: inline-block;
              vertical-align: text-bottom;
              background: url(./img/check.png) no-repeat;
              width: 16px;
              height: 16px;
              margin: 1px 3px 0 0;
              overflow: hidden;
              &.checkbox-checked {
                background: url(./img/checked.png) no-repeat;
                &:hover {
                  background: url(./img/check_hover.png) no-repeat;
                }
              }
            }
          }
        }
        .login-btn {
          position: relative;
          display: inline-block;
          box-sizing: border-box;
          height: 60px;
          color: #ffffff;
          background-color: rgba(0, 0, 0, 0.3)
          line-height: 60px;
          text-align: center;
          text-decoration: none;
          vertical-align: middle;
          cursor: pointer;
          font-size: 14px;
          border: 1px solid transparent;
          border-radius: 2px;
          padding: 0 12px;
          transition: all ease-out 0.3s;
          input {
            color: #ffffff;
          }
          &:hover {
            color: #fff;
            background-color: rgba(255, 255, 255, 0.4);
            //border-color: rgba(255, 255, 255, 0.4);
          }
          @media (max-width: 1440px) and (min-width: 481px) {
            height: 60px;
            line-height: 60px;
            font-size: 14px;
          }
        }

      }
    }
  }
  .r-header {
    padding-top: 30px;
    padding-right: 50px;
    font-size: 13px;
    line-height: 36px;
    text-align: right;
    a {
      color: #fff;
      margin-left: 5px;
    }
  }
}

//自定义实现样式
.login-icon {
  float: left;
  width: 100%;
  height: 55px;
  line-height: 55px
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.login-icon .icon-size {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
}

//input.login-input {
//  height: 66px;
//  font-size 18px;
//  border: none;
//  color: #CED2D5;
//  border-radius: 0;
//}

input.el-input__inner:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset !important;
}

.login-input .el-input__inner {
  height: 55px;
  background-color: rgba(255, 255, 255, 0.1);
  font-size 18px;
  border: none;
  color: #CED2D5;
  border-radius: 0;
}

.login-submit {
  height: 55px;
  line-height: 55px;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  color: #CED2D5;
  cursor: pointer;
}

.login-submit:hover {
  background-color: rgba(0, 0, 0, 0.75);
}

.login-submit .submit {
  color: #CED2D5;
  cursor: pointer;
}

.login-reme {
  color: #CED2D5;
}

.login-reme .el-checkbox__input.is-checked + .el-checkbox__label {
  color: #CED2D5;
}

.err-message {
  font-size: 13px;
  color: #ff0000;
  height: auto;
  min-height: 40px;
  line-height: 2 !important;
  margin-top: 8px;
}
